<div class="contanier" id="header">   
   <div class="row">

        <app-nav></app-nav>
        
        <div id="banner" > 
            <div>
                <a (click)="onOpenModal('editar',persona)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pen"></i></a>
            </div>
            <img src={{persona.prsImgPortadaUrl}} alt="Mi querido plottier">                    
        </div>
        <div class="m-3" >
            <img class="img-responsive profile-image border border-3 rounded-circle " src={{persona.prsImgPerfilUrl}} alt="Yo-yo">      
        </div>

        <div class="card">
            <div class="card-text col-xs-12 col-sm-12 col-md-12 col-lg-12 p-3">  
                <h1> {{persona.prsApellido}} {{ persona.prsNombre}} </h1>
            </div> 
            <div class="card-body">                                          
                 <div class="card-text col-xs-12 col-sm-12 col-md-12 col-lg-12">              
                    <div class="row">
                        <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-3">                                     
                            <div >
                                <span> {{persona.prsOcupacion}} </span>                                
                            </div>
                            <div>
                                <span> {{persona.prsEdad}} años </span>
                            </div>
                            <div >                                
                                <span> Neuquen (Argentina) </span>                                
                            </div>
                            <div>   
                                <span><a href="#">Informacion de contacto</a></span>
                            </div>
                        </div>
                        <div  class="col-xs-12 col-sm-6 col-md-6 col-lg-6 m-3"> 
                            <div class="card-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h5>MI CAMINO HASTA AQUI</h5>                               
                            </div> 
                            <div class="card-text col-xs col-sm col-md col-lg">
                                <p>{{persona.prsAcercaDeMi}}</p> 
                            </div>   
                        </div> 
                        <div class="col-xs-12 col-sm col-md col-lg m-3" >
                                <ul id="list-link-perfil">
                                    <li>
                                        <img src="../assets/img/issn.png" alt="">
                                        <a href="#">
                                            <h4>ISSN</h4>                                 
                                        </a>
                                        
                                    </li>
                                    <li>
                                        <img src="../assets/img/uncoma.png" alt="">
                                        <a href="">
                                            <h4>UNCOMA</h4>                                   
                                        </a>
                                    
                                    </li>
                                </ul>   
                        </div>      
                    </div>
                    <div class="row">        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-primary">Tengo interes en</button>
                                <button type="button" class="btn btn-primary">Añadir Seccion</button>
                                <button type="button" class="btn btn-primary">Mas</button>       
                        </div> 
                    </div>
            </div>  
        </div>
   </div>  
</div> 
     
<!-- Modal Editar-->
<div  class="modal fade" id="editFotoPortadaModal"  tabindex="-1" role="dialog" aria-labelledby="EditarPortadaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
                 <h5 class="modal-title" id="EditarPortadaModalLabel">Agregar Educacion</h5>
                 <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
        </div>
        <div class="modal-body">
              <form #editForm="ngForm"  >
                   <div class="form-group">
                        <label for="prsImgPortadaUrl">Link imagen portada</label>
                        <input type="text" ngModel="{{editPrs?.prsImgPortadaUrl}}" name="prsImgPortadaUrl" id="prsImgPortadaUrl" class="form-control" placeholder="Url imagen portada" required>
                   </div>
              </form>               
        </div>
        <div class="modal-footer">
                 <button type="button" id="editar-edu-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                 <button (click)="onEditarPortada(editForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Editar</button>
        </div>
      </div>
    </div>
</div>