<div class="contanier" id="header">   
   <div class="row">

        <app-nav></app-nav>
        
        <div id="banner" > 
            <img src="../assets/img/plottier.jpg" alt="Mi querido plottier">                    
        </div>
        <div class="m-3" >
            <img class="img-responsive profile-image border border-3 rounded-circle " src="../assets/img/mifoto.jpg" alt="Yo-yo">      
        </div>

        <div class="card ">
            <div class="card-header">
                <h1>{{persona.nombre}}</h1>
            </div> 
            <div class="card-body">                                          
                 <div class="card-text col-xs-12 col-sm-12 col-md-12 col-lg-12">              
                    <div class="row">
                        <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4">                                     
                            <div >
                                <span> {{persona.ocupacion}} </span>
                            </div>
                            <div >                                
                                <span> Neuquen (Argentina) </span>
                                <span><a href="#">Informacion de contacto</a></span>
                            </div>
                        </div>
                        <div  class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
                            <div class="card-title col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h2>Mi camino hasta aqui</h2>                               
                            </div> 
                            <div class="card-text col-xs col-sm col-md col-lg">
                                <p>jakñldsajkljfkñldsjklfñdsjklsañdjfsdklñjsdfañlkjdljdsñkldsajñkldjsklñsd</p> 
                            </div>   
                        </div> 
                        <div class="col-xs-12 col-sm col-md col-lg " >
                                <ul id="list-link-perfil">
                                    <li>
                                        <img src="../assets/img/issn.png" alt="">
                                        <a href="#">
                                            <h4>ISSN</h4>                                 
                                        </a>
                                        
                                    </li>
                                    <li>
                                        <img src="../assets/img/uncoma.png" alt="">
                                        <a href="">
                                            <h4>UNCOMA</h4>                                   
                                        </a>
                                    
                                    </li>
                                </ul>   
                        </div>      
                    </div>
                    <div class="row">        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button type="button" class="btn btn-primary">Tengo interes en</button>
                                <button type="button" class="btn btn-primary">Añadir Seccion</button>
                                <button type="button" class="btn btn-primary">Mas</button>       
                        </div> 
                    </div>
            </div>  
        </div>
   </div>  
</div> 
       