<div class="card m-3">
     <div class="card-header divtitle text-center">
          <div class="row ">
               <div class=" divtitle col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h2>EDUCACION</h2>
               </div>        
               <div class=" divtitle col-xs-2 col-sm-2 col-md-2 col-lg-2 pe-0 text-center">
                    <button *ngIf="isLogged && isUsrAdmin"  type="button" class="btn btn-success" (click)="onOpenModal('agregrar')">
                           <a class="nav-link " style="color:aliceblue"> Agregar <span class="sr-only">(current)</span></a>
                    </button>               
               </div>
          </div>
     </div> 
     <div class="card-body">                                          
          <div  class="card-text col-xs-12 col-sm-12 col-md-12 col-lg-12">                            
              <div id="main-container"> 
                    <div class="row" *ngFor="let edu of educaciones">                              
                         <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center "> 
                              <img class="img-responsive imgedu" src={{edu.eduImgUrl}} alt="">
                         </div>
                         <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                              <div class="row">
                                   <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                        <h1>{{edu.eduTitulo}}</h1>
                                   </div>
                                   <div *ngIf="isLogged && isUsrAdmin" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pt-1">
                                        <a (click)="onOpenModal('editar',edu)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pen"></i></a>
                                   
                                        <a (click)="onOpenModal('borrar',edu)" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-trash"></i></a>
                                   </div>
                              </div>
                              <div class="row">
                                   <p>{{edu.eduDescripcion}}</p>
                              </div>
                              <div class="row">
                                   <p>{{edu.eduFechaInicio}} - {{edu.eduFechaFin}}</p>
                              </div>     
                         </div>   
                    </div>      
              </div> <!-- Main - container -->                                                   
          </div>
     </div>           
</div> 

 
<!-- Modal AGREGAR-->
<div  class="modal fade" id="agrEducacionModal"  tabindex="-1" role="dialog" aria-labelledby="AgregrarEducacionModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
                  <h5 class="modal-title" id="AgregrarEducacionModalLabel">Agregar Educacion</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
         </div>
         <div class="modal-body">
               <form #addForm="ngForm"  >
                    <div class="form-group">                      
                         <input type="hidden" ngModel name="persona" id="persona" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                         <label for="eduTitulo">Titulo</label>
                         <input type="text" ngModel name="eduTitulo" id="eduTitulo" class="form-control" placeholder="Titulo" required>
                    </div>
                    <div class="form-group">
                         <label for="eduDescripcion">Descripcion</label>
                         <input type="text" ngModel name="eduDescripcion" id="eduDescripcion" class="form-control" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                         <label for="eduFechaInicio">Fecha Inicio</label>
                         <input type="text" ngModel name="eduFechaInicio" id="eduFechaInicio" class="form-control" placeholder="Fecha Inicio" required>
                    </div>
                    <div class="form-group">
                         <label for="eduFechaFin">Fecha Fin</label>
                         <input type="text" ngModel name="eduFechaFin" id="eduFechaFin" class="form-control" placeholder="Fecha Fin" required>
                    </div>
                    <div class="form-group">
                         <label for="eduImgUrl">Link imagen</label>
                         <input type="text" ngModel name="eduImgUrl" id="eduImgUrl" class="form-control" placeholder="Url imagen" required>
                    </div>
               </form>               
         </div>
         <div class="modal-footer">
                  <button type="button" id="agregar-edu-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button [disabled]="addForm.invalid" (click)="onAgregarEdu(addForm)" type="submit" class="btn btn-primary">Agregar</button>
         </div>
       </div>
     </div>
</div>

<!-- Modal Editar-->
<div  class="modal fade" id="editEducacionModal"  tabindex="-1" role="dialog" aria-labelledby="EditarEducacionModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
                  <h5 class="modal-title" id="EditarEducacionModalLabel">Agregar Educacion</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
         </div>
         <div class="modal-body">
               <form #editForm="ngForm"  >
                    <div class="form-group">                      
                         <input type="hidden" ngModel name="persona" id="persona" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                         <label for="eduId">Educacion ID</label>
                         <input type="text" readonly="true" ngModel="{{editEdu?.eduId}}" name="eduId" id="eduId" class="form-control" placeholder="Titulo" required>
                    </div>
                    <div class="form-group">
                         <label for="eduTitulo">Titulo</label>
                         <input type="text" ngModel="{{editEdu?.eduTitulo}}" name="eduTitulo" id="eduTitulo" class="form-control" placeholder="Titulo" required>
                    </div>
                    <div class="form-group">
                         <label for="eduDescripcion">Descripcion</label>
                         <input type="text" ngModel="{{editEdu?.eduDescripcion}}" name="eduDescripcion" id="eduDescripcion" class="form-control" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group">
                         <label for="eduFechaInicio">Fecha Inicio</label>
                         <input type="text" ngModel="{{editEdu?.eduFechaInicio}}" name="eduFechaInicio" id="eduFechaInicio" class="form-control" placeholder="Fecha Inicio" required>
                    </div>
                    <div class="form-group">
                         <label for="eduFechaFin">Fecha Fin</label>
                         <input type="text" ngModel="{{editEdu?.eduFechaFin}}" name="eduFechaFin" id="eduFechaFin" class="form-control" placeholder="Fecha Fin" required>
                    </div>
                    <div class="form-group">
                         <label for="eduImgUrl">Link imagen</label>
                         <input type="text" ngModel="{{editEdu?.eduImgUrl}}" name="eduImgUrl" id="eduImgUrl" class="form-control" placeholder="Url imagen" required>
                    </div>
               </form>               
         </div>
         <div class="modal-footer">
                  <button type="button" id="editar-edu-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                  <button (click)="onEditarEdu(editForm)" type="submit" class="btn btn-primary" data-dismiss="modal">Editar</button>
         </div>
       </div>
     </div>
</div>

<!-- Modal Borrar-->
<div  class="modal fade" id="borrEducacionModal"  tabindex="-1" role="dialog" aria-labelledby="BorrarEducacionModalLabel" aria-hidden="true">
     <div  class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
                  <h5 class="modal-title" id="BorrarEducacionModalLabel">Agregar Educacion</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
         </div>
         <div class="modal-body">
               <p>
                    Esta seguro de borrar la educacion:
                    {{delEdu?.eduTitulo}}
               </p>              
         </div>
         <div class="modal-footer">
                  <button type="button" id="borrar-edu-form" class="btn btn-secondary" data-dismiss="modal">NO</button>
                  <button (click)="onBorrarEdu(delEdu?.eduId)" type="submit" class="btn btn-primary" data-dismiss="modal">SI</button>
         </div>
       </div>
     </div>
</div>

