<div class="container">
    <div class="row">
        <div class="applogo p-2 col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
            <app-logo></app-logo>
        </div>
        <div class="appredes p-4 col-xs-12 col-sm-5 col-md-5 col-lg-5 text-center">
            <app-redes [redes]="redes" [prsId]="prsId"></app-redes>
        </div>  
        <div class="pt-5 col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
            <button type="button" class="btn btn-success m-2" (click)="onOpenModal('login')" *ngIf="!isLogged || !isUsrAdmin">
                <a class="nav-link " style="color:aliceblue"> Iniciar Sesion <span class="sr-only">(current)</span></a>
            </button>   
            <button type="button" class="btn btn-success m-2" *ngIf="isLogged && isUsrAdmin" (click)="onLogOut()">
                <a class="nav-link " style="color:aliceblue"> Cerrar Sesion <span class="sr-only">(current)</span></a>
            </button> 
         </div>
    </div>
</div>

<!-- Modal LOGIN-->
<div  class="modal fade" id="loginModal"  tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
                 <h5 class="modal-title" id="loginModalLabel">INICIAR SESSION</h5>
                 <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"> </button>
        </div>
        <div class="modal-body">
              <form #loginForm="ngForm" >                  
                   <div class="form-group">
                        <label for="usrName">Titulo</label>
                        <input type="text" [(ngModel)]="usrName" name="usrName" id="usrName" class="form-control" placeholder="Usuario" required>
                   </div>
                   <div class="form-group">
                        <label for="password">Titulo</label>
                        <input type="text" [(ngModel)]="password" name="password" id="password" class="form-control" placeholder="Contraseña" required>
                   </div>                   
              </form>               
        </div>
        <div class="modal-footer">
                 <button type="button" id="login-form" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                 <button [disabled]="loginForm.invalid" (click)="onLogin(loginForm)" type="submit" class="btn btn-primary">Iniciar</button>
        </div>
      </div>
    </div>
</div>