.imgexp{
    width: 120px;
    height: 120px;
    padding-top: 10px;
 }
 
 .btn {
    padding-top: 10px;
 }
 
 .divtitle {
    background-color: #e9ecef;
 }

 #agrExperienciaModal {
   background-color: transparent !important;
}

#editExperienciaModal {
   background-color: transparent !important;
}

#borrExperienciaModal {
   background-color: transparent !important;
}
