/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://es.rankiapro.com/wp-content/uploads/2019/08/fondo-tecnologico-preferido-selectores.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2% 5% 2% 5%;
}


div {
    background-color: rgb(120, 185, 187);
    
    
}

p {
     padding-top: 1%;
     padding-left: 1%;
}

#info-img {
    display: flex;
    margin: 1%;
}

#info-btn-acciones {
    display: flex;
    margin: 20px;
}

#info-data-perfil {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 1%;
}




h1 {
    display: inline-block;
}

h2 {
    display: inline;   
    text-align:left;
    padding-top: 15%;
    padding-bottom: 10%;
}


.btn-primary  {
    margin: 1%;
}




