
.imgedu{
   width: 120px;
   height: 120px;
   padding-top: 10px;
}

.btn {
   padding-top: 10px;
}

.divtitle {
   background-color: #e9ecef;
}

#agrEducacionModal {
   background-color: transparent !important;
}

#editEducacionModal {
   background-color: transparent !important;
}

#borrEducacionModal {
   background-color: transparent !important;
}