<div class="card m-3">
    <div class="card-header text-center">
        <h2>HARD & SOFT SKINS</h2>
   </div> 
    <div class="card-body">
        <div class="row" >   
            <div class="col-xs-12 col-ms-4 col-md-4 col-lg-4 text-center" *ngFor="let hab of habilidades">   
                <circle-progress
                [percent]="hab.habPorcentaje"
                [radius]="100"
                [showUnits]="false"
                [title]="hab.habTitulo"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'blue'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300">
                </circle-progress>
            </div>           
        </div> <!--row-->
    </div>   
</div>
